{% extends "base.html" %}

{% block "title" %}
  Edit Work Data
{% endblock %}

{% block "content" %}
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-file"></i> Edit Work Data</div>
    <div class="card-body">
      <form method="POST" action={% url "edit-work-data" %}>
        {% csrf_token %}
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <label>Position</label>
              {{ form.position }}
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <label>Hour Salary</label>
              <input class="form-control" type="number" step="any" name="hour_salary" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <input class="btn btn-primary btn-block" type="submit" value="Submit"/>
          </div>
        </div>
      </form></div>
  </div>
{% endblock %}
