{% extends "base.html" %}

{% block "title" %}
  Index
{% endblock %}

{% block "body" %}
  {% if user.is_superuser %}
    <a href="{% url "create-user" %}"><button>Create New User</button></a>
    <a href="{% url "overtime-requests" %}"><button>Check Overtime Requests</button></a>
    <a href="{% url "report-list" %}"><button>Check Reports</button></a>
    <a href=""><button>Send Email TODO</button></a> <!-- Send Email Link -->
    <a href="{% url "user-status-list" %}"><button>Check Users</button></a>
  {% else %}
    <a href="{% url "request-overtime" %}"><button>Request Overtime</button></a>
    <a href="{% url "edit-personal-data" %}"><button>Edit Personal</button></a>
    <a href="{% url "create-report" %}"><button>Create Report</button></a>
    <a href="{% url "create-ticket" %}"><button>Create Ticket</button></a>
    <a href="{% url "add-availability" %}"><button>Add Availability</button></a>
    <a href="{% url "track-worktime" %}"><button>Track</button></a>
    <a href="{% url "create-report-comment" %}"><button>Create Report Comment</button></a>
  {% endif %}

  <a href="{% url "logout" %}"><button>Log out</button></a>

{% endblock %}